[Unit]
Description=flow-collector
After=network.target

[Service]
User=root
WorkingDirectory=/etc/flow-collector
LimitNOFILE=4096
UMask=0027
ExecStart=/usr/sbin/flow-collector
EnvironmentFile=/etc/default/flow-collector
SuccessExitStatus=0
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
